[Unit]
Description=RADIUS server proxy
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/usr/local/sbin/radsecproxy -d 5 -f

[Install]
Alias=radsecproxy.service
WantedBy=multi-user.target